@(message: String, sfertilizer: Fertilizer)

@main("Assigning") {

<form method="post" class="panel" role="form" action="@routes.Fert.statusassigned(sfertilizer.AutoNo)">

    <div class="wrapper">
        <div class="page-head">
            <h3 class="m-b-less">
                Analysing Order
            </h3>
        </div>
        <br><br>
        <div class="form-group">
            <label class="col-lg-2 control-label">ID Number</label>

            <div class="col-lg-4">
                <input type="text" class=" form-control" name="idnum" required value="@sfertilizer.ID_Number" >
            </div>
        </div>
        <br> <br>
        <div class="form-group">
            <label class="col-lg-2 control-label">Brand Name</label>

            <div class="col-lg-4">
                <input type="text" class=" form-control" name="bname" required value="@sfertilizer.BrandName" >
            </div>
        </div>
        <br><br>

        <div class="form-group">
            <label class="col-lg-2 control-label">Quantity</label>

            <div class="col-lg-4">
                <input type="text" class=" form-control" name="qua" required value="@sfertilizer.Quantity" >
            </div>
        </div>


        <br>
        <br>
        <div class="form-group">
            <label class="col-lg-2 control-label">LandSize</label>

            <div class="col-lg-4">
                <input type="text" class=" form-control" name="size" required value="@sfertilizer.LandSize" >
            </div>
        </div>


        <br>
        <br>
        <div class="form-group">
            <label class="col-lg-2 control-label">Cultivation Size</label>

            <div class="col-lg-4">
                <input type="text" class=" form-control" name="csize" required value="@sfertilizer.Cultivation" >
            </div>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label class="col-lg-2 control-label">Description</label>

            <div class="col-lg-4">
                <input type="text" class=" form-control" name="desc" required value="@sfertilizer.Description" >
            </div>
        </div>

        <br>
        <br>
        <div class="form-group">
            <label class="col-lg-2 control-label">Phone Number</label>

            <div class="col-lg-4">
                <input type="text" class=" form-control" name="phone" required value="@sfertilizer.PhoneNumber" >
            </div>
        </div>
         <br>
         <br>
        <p class="submit"><input class="btn btn-info m-b-10" type="submit" name="assign" value="Assigned">
            <a class="btn btn-warning m-b-10" href="@routes.Fert.statusrejected(sfertilizer.AutoNo)">Denied</a></p>
    </div>
</form>


}