@(message: String)


@main(message) {



<div class="login-logo">
    <img src="img/login_logo.png" alt=""/>
</div>
<div >
<div class="col-lg-10">
<h3>Add Farmer</h3>
    </div>
    <form class="form-vertical" method="post" action="@routes.Fields.regField()">
        <div class="col-md-6">
            <h4 >New Farmers Details</h4>
        First Name<input type="text" name="firstname" class="form-control"  required>
        Second Name<input type="text" name="secondname" class="form-control"  required>
            ID Number<input type="text"name="idnumber" class="form-control" required>
        Phone Number<input type="text" name="phonenumber" class="form-control" required>
        Email<input type="text"name="email" class="form-control"  required>
            Password<input type="password"name="password" class="form-control" required>
        </div>
        <div class="col-md-6">
        <h4> Enter your Farm Details below</h4>
        Land Block Number <input type="text"name="blocknumber" class="form-control"  >
       Total LandSize <input type="text" name="landsize" class="form-control" required>
      Cultivation Size  <input type="text"name="cultivation" class="form-control"required>




        <button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>

</div>
    </form>
    </div>
</div>

<!--jquery-1.10.2.min-->
<script src="js/jquery-1.11.1.min.js"></script>
<!--Bootstrap Js-->
<script src="js/bootstrap.min.js"></script>
<script src="js/jrespond..min.js"></script>




}