
@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<script src="@routes.Assets.at("javascripts/js/jquery-1.10.2.min.js")"></script>



    <!--Data Table-->
    <link href="@routes.Assets.at("javascripts/js/data-table/css/jquery.dataTables.css")" rel="stylesheet">
            <link href="@routes.Assets.at("javascripts/js/data-table/css/dataTables.tableTools.css")" rel="stylesheet">
            <link href="@routes.Assets.at("javascripts/js/data-table/css/dataTables.colVis.min.css")" rel="stylesheet">
            <link href="@routes.Assets.at("javascripts/js/data-table/css/dataTables.responsive.css")" rel="stylesheet">
            <link href="@routes.Assets.at("javascripts/js/data-table/css/dataTables.scroller.css")" rel="stylesheet">
            <!-- Base Styles -->









            <!--easy pie chart-->
            <link href="@routes.Assets.at("javascripts/js/jquery-easy-pie-chart/jquery.easy-pie-chart.css")" rel="stylesheet" type="text/css" media="screen" />

            <!--vector maps -->
            <link rel="stylesheet" href="@routes.Assets.at("javascripts/js/vector-map/jquery-jvectormap-1.1.1.css")" />

    <!--right slidebar-->
    <link href="@routes.Assets.at("css/slidebars.css")" rel="stylesheet" />

            <!--switchery-->
            <link href="@routes.Assets.at("javascripts/js/switchery/switchery.min.css")" rel="stylesheet" type="text/css" media="screen" />

            <!--jquery-ui-->
            <link href="@routes.Assets.at("javascripts/js/jquery-ui/jquery-ui-1.10.1.custom.min.css")" rel="stylesheet" />

            <!--iCheck-->
            <link href="@routes.Assets.at("javascripts/js/icheck/skins/all.css")" rel="stylesheet" />

            <link href="@routes.Assets.at("css/owl.carousel.css")" rel="stylesheet" />



            <link href="@routes.Assets.at("css/style.css")" rel="stylesheet" />
            <link href="@routes.Assets.at("css/style-responsive.css")" rel="stylesheet" />

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
    <script src="@routes.Assets.at("javascripts/js/html5shiv.js")"></script>
<script src="@routes.Assets.at("javascripts/js/respond.min.js")"></script>
    <![endif]-->


    </head>
    <body class="sticky-header">

            <section>
            <!-- sidebar left start-->
            <div class="sidebar-left">
            <!--responsive view logo start-->
            <div class="logo dark-logo-bg visible-xs-* visible-sm-*">
            <a href="index.html">
            <img src="img/logo-icon.png" alt="">
            <!--<i class="fa fa-maxcdn"></i>-->
            <span class="brand-name">Cereal4Farmers</span>
            </a>
            </div>
            <!--responsive view logo end-->

            <div class="sidebar-left-info">
            <!-- visible small devices start-->
            <div class=" search-field">  </div>
            <!-- visible small devices end-->

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked side-navigation">
            <li>
            <h3 class="navigation-title">Categories</h3>
            </li>
            <li class="active"><a href="/ts"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
            <li class="menu-list">
            <a href=""><i class="fa fa-list"></i>  <span>Registration</span></a>
            <ul class="child-list">
            <li><a href="/farmnew"> View Request</a></li>
            <li><a href="/addf"> Add User</a></li>
    </ul>
    </li>
    <li class="menu-list">
            <a href=""><i class="fa fa-tag "></i>  <span>Fertilizers</span></a>
            <ul class="child-list">
            <li><a href="/renderFertOrd "> View Orders</a></li>

    </ul>
    </li>


    <li class="menu-list">
            <a href=""><i class="fa fa-share-alt"></i>  <span>Seeds</span></a>
            <ul class="child-list">
            <li><a href="/renderSeedOrd"> View Orders</a></li>

    </ul>
    </li>


    <li class="menu-list">
            <a href=""><i class="fa fa-question"></i>  <span>Inquires</span></a>
            <ul class="child-list">
            <li><a href="/renderview"> View </a></li>

    </ul>
    </li>
    <li class="menu-list">
            <a href=""><i class="fa fa-folder "></i>  <span>Extras</span></a>
     <ul class="child-list">
            <li><a href="/renderstock">Register Stock</a></li>
            <li><a href="/viewstock"> Update Fertilizers</a></li>
             <li><a href="/viewstockseed  ">Update seeds</a></li>

            <li><a href="/postnews">Post News</a></li>


    </ul>
    </li>



    </ul>
    </div>
    <!--sidebar widget end-->

    </div>
    </div>
    <!-- sidebar left end-->

    <!-- body content start-->
    <div class="body-content" style="min-height: 1000px;">
            <!-- header section start-->
            <div class="header-section">



            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-outdent"></i></a>
            <!--toggle button end-->

            <!--mega menu start-->

            <div class="notification-wrap">
            <!--left notification start-->
            <div class="left-notification">
            <ul class="notification-menu">
            <!--mail info start-->
            <li class="d-none">


            <div class="dropdown-menu dropdown-title">
            <div class="title-row">
            <h5 class="title purple">
            New Bookings
    </h5>
    <a href="javascript:;" class="btn-primary btn-view-all">View all</a>
    </div>
    <div class="notification-list mail-list">
            <a href="javascript:;" class="single-mail">
            <span class="icon bg-primary">
            S
            </span>
            <strong>Smith Doe</strong>
    <small> Just Now</small>
    <p>
    <small>Hello smith i have some query about your</small>
    </p>
    <span class="un-read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
            <i class="fa fa-circle"></i>
            </span>
            </a>
            <a href="javascript:;" class="single-mail">
            <span class="icon bg-success">

            </span>
            <strong>Anthony Jones </strong>
    <small> 30 Mins Ago</small>
    <p>
    <small>Hello this is an example message</small>
    </p>
    <span class="un-read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
            <i class="fa fa-circle"></i>
            </span>
            </a>
            <a href="javascript:;" class="single-mail">
            <span class="icon bg-warning">
            B
            </span> Billy Jones
    <small> 2 Days Ago</small>
    <p>
    <small>Slicklab is awesome Dashboard</small>
    </p>
    <span class="read tooltips" data-original-title="Mark as Unread" data-toggle="tooltip" data-placement="left">
            <i class="fa fa-circle-o"></i>
            </span>
            </a>
            <a href="javascript:;" class="single-mail">
            <span class="icon bg-dark">
            J
            </span> John Doe
    <small> 1 Week Ago</small>
    <p>
    <small>Build with Twitter Bootstrap 3</small>
    </p>
    <span class="read tooltips" data-original-title="Mark as Unread" data-toggle="tooltip" data-placement="left">
            <i class="fa fa-circle-o"></i>
            </span>
            </a>
            <a href="javascript:;" class="single-mail">
            <span class="icon bg-danger">
            S
            </span> Smith Doe
    <small> Just Now</small>
    <p>
    <small>No hassle, very easy to use</small>
    </p>
    <span class="read tooltips" data-original-title="Mark as Unread" data-toggle="tooltip" data-placement="left">
            <i class="fa fa-circle-o"></i>
            </span>
            </a>
            </div>
            </div>
            </li>
            <!--mail info end-->

            <!--task info start-->

            <!--notification info start-->

            <!--notification info end-->
            </ul>
            </div>
            <!--left notification end-->


            <!--right notification start-->
            <div class="right-notification">
            <ul class="notification-menu">



            <li>
            <a href="javascript:;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <img src="img/avatar-mini.jpg" alt="">Profile
            <span class=" fa fa-angle-down"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu purple pull-right">
            <li><a href="">Edit Profile</a></li>


    <li><a href=""><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
    </ul>
    </li>

    </ul>
    </div>
    <!--right notification end-->
    </div>

    </div>
    <!-- header section end-->

    @content
    </div>
    </section>







    <script src="@routes.Assets.at("javascripts/js/jquery-ui/jquery-ui-1.10.1.custom.min.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/js/jquery-migrate.js")"></script>
    <script src="@routes.Assets.at("javascripts/js/bootstrap.min.js")"></script>
<script src="@routes.Assets.at("javascripts/js/modernizr.min.js")"></script>


    <script src="@routes.Assets.at("javascripts/js/jquery.nicescroll.js")" type="text/javascript"></script>


<script src="@routes.Assets.at("javascripts/js/slidebars.min.js")"></script>


    <script src="@routes.Assets.at("javascripts/js/switchery/switchery.min.js")"></script>
<script src="@routes.Assets.at("javascripts/js/switchery/switchery-init.js")"></script>


    <script src="@routes.Assets.at("javascripts/js/flot-chart/jquery.flot.js")"></script>
<script src="@routes.Assets.at("javascripts/js/flot-chart/flot-spline.js")"></script>
    <script src="@routes.Assets.at("javascripts/js/flot-chart/jquery.flot.resize.js")"></script>
<script src="@routes.Assets.at("javascripts/js/flot-chart/jquery.flot.tooltip.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/js/flot-chart/jquery.flot.pie.js")"></script>
<script src="@routes.Assets.at("javascripts/js/flot-chart/jquery.flot.selection.js")"></script>
    <script src="@routes.Assets.at("javascripts/js/flot-chart/jquery.flot.stack.js")"></script>
<script src="@routes.Assets.at("javascripts/js/flot-chart/jquery.flot.crosshair.js")"></script>



    <script src="@routes.Assets.at("javascripts/js/earning-chart-init.js")"></script>



<script src="@routes.Assets.at("javascripts/js/sparkline/jquery.sparkline.js")"></script>
    <script src="@routes.Assets.at("javascripts/js/sparkline/sparkline-init.js")"></script>


<script src="@routes.Assets.at("javascripts/js/jquery-easy-pie-chart/jquery.easy-pie-chart.js")"></script>
    <script src="@routes.Assets.at("javascripts/js/easy-pie-chart.js")"></script>



<script src="@routes.Assets.at("javascripts/js/vector-map/jquery-jvectormap-1.2.2.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/js/vector-map/jquery-jvectormap-world-mill-en.js")"></script>
<script src="@routes.Assets.at("javascripts/js/dashboard-vmap-init.js")"></script>


    <script src="@routes.Assets.at("javascripts/js/icheck/skins/icheck.min.js")"></script>
<script src="@routes.Assets.at("javascripts/js/todo-init.js")"></script>


    <script src="@routes.Assets.at("javascripts/js/jquery-countTo/jquery.countTo.js")"  type="text/javascript"></script>


<script src="@routes.Assets.at("javascripts/js/owl.carousel.js")"></script>


    <script src="@routes.Assets.at("javascripts/js/slidebars.min.js")"></script>

<!--switchery-->
<script src="@routes.Assets.at("javascripts/js/switchery/switchery.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/js/switchery/switchery-init.js")"></script>









<script src="@routes.Assets.at("javascripts/js/sparkline/jquery.sparkline.js")"></script>
    <script src="@routes.Assets.at("javascripts/js/sparkline/sparkline-init.js")"></script>



<script src="@routes.Assets.at("javascripts/js/data-table/js/jquery.dataTables.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/js/data-table/js/dataTables.tableTools.min.js")"></script>
<script src="@routes.Assets.at("javascripts/js/data-table/js/bootstrap-dataTable.js")"></script>
    <script src="@routes.Assets.at("javascripts/js/data-table/js/dataTables.colVis.min.js")"></script>
<script src="@routes.Assets.at("javascripts/js/data-table/js/dataTables.responsive.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/js/data-table/js/dataTables.scroller.min.js")"></script>



<script src="@routes.Assets.at("javascripts/js/jquery.nicescroll.js")" type="text/javascript"></script>





    <script src="@routes.Assets.at("javascripts/js/jquery-migrate.js")"></script>
<script src="@routes.Assets.at("javascripts/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/js/modernizr.min.js")"></script>





<script src="@routes.Assets.at("javascripts/js/jquery-migrate.js")"></script>
    <script src="@routes.Assets.at("javascripts/js/bootstrap.min.js")"></script>
<script src="@routes.Assets.at("javascripts/js/modernizr.min.js")"></script>









    <script src="@routes.Assets.at("javascripts/js/scripts.js")"></script>


<script type="text/javascript">

        $(document).ready(function() {

            //countTo

            $('.timer').countTo();

            //owl carousel

//                $("#news-feed").owlCarousel({
//                    navigation : true,
//                    slideSpeed : 300,
//                    paginationSpeed : 400,
//                    singleItem : true,
//                    autoPlay:true
//                });
        });

        //            $(window).on("resize",function(){
        //                var owl = $("#news-feed").data("owlCarousel");
        //                owl.reinit();
        //            });

    </script>

</body>
</html>
